@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    font-family: 'Arial', sans-serif; /* Fonte padrão para o corpo */
}

/* Menu */
.menu {
    background-color: rgba(19, 20, 20, 1);
    padding: 20px;
}

.menu ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline;
    margin: 0 15px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu ul li a:hover,
.menu li a.active {
    background-color: #000;
    color: #fff;
}

/* Seção um */
#one-section {
    height: 500px;
    background-image: url(/members/styles/fundosite.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#one-section .titulo-central {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#one-section h1 {
    color: aliceblue;
    font-size: 5.5em;
    margin: 0;
}

#one-section h2 {
    color: aliceblue;
    font-size: 1.5em;
    margin: 10px auto;
    box-shadow: 10px 10px 30px 12px rgba(0, 0, 0, 0.2);
    width: 55em;
}

#one-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

/* Conteúdo Principal */
.container {
    width: 80%;
    margin: 0 auto;
    min-height: 300px;
    overflow: hidden;
}

h1 {
    color: black;
}

h2 {
    color: black;
    font-size: 38px;
    font-family: "Oswald", sans-serif;
}

/* Seção dois */
#two-section {
    margin-top: 20px;
    padding: 50px;
    text-align: center;
}

.titlle-about-main h3 {
    font-size: 2.2em;
    font-weight: 600;
    font-family: "Playpen Sans", cursive;
    margin: 0;
    padding: 15px 0;
}

.titlle-about-main h3::after {
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
    background-color: #141313;
}

.text-about-main {
    width: 65%;
    margin: 0 auto;
    font-weight: 300;
    text-align: justify;
}

.text-about-main .text-1 {
    font-weight: 400;
}

.text-about-main .text-2 {
    font-size: 1.5em;
    font-weight: 500;
}

/* Fotos */
.photo-xp-main {
    width: 35%;
    margin: 20px auto;
    text-align: center;
}

.photo-xp-main img {
    max-width: 70%;
    border-radius: 50%;
    background-image: linear-gradient(10deg, #131414, #4446441f, #131414);
    padding: 5px;
    float: inline-start;
}

.photo-xp-main span {
    display: inline-block;
    font-weight: 600;
    margin: 4px;
}

/* Seção três */
#three-section {
    background-color: rgb(248, 247, 245);
    padding: 20px;
    overflow: hidden;
    text-align: center;
}

#three-section .title-article h3 {
    font-size: 3em;
    padding: 10px 5px;
    font-family: "Oswald", sans-serif;
    margin: 0;
    
}

#three-section .col-3 {
    width: 30%;
    margin: 1%;
    float: left;
    padding: 0.5%;
    background-color: rgba(150, 143, 136, 0.6);
}

#three-section .bx-img-article {
    max-width: 100%;
}

#three-section .bx-title-article {
    text-align: center;
    font-family: "Oswald", sans-serif;
    margin-top: 10px;
}

#three-section .bx-text-article {
    text-align: justify;
    min-height: 30px;
    padding: 10px;
}

#three-section .ver-mais {
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: "Josefin Sans", sans-serif;
    transition: color 0.3s;
    color: #1100ffde;
}

#three-section .ver-mais:hover {
    color: #1b599b;
}

#three-section .line::after,
#three-section .title-article::after {
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
    background: linear-gradient(5deg, #4446441f, #131414, #4446441f);
}



/* Rodapé */
#footer {
    background-color: #131414;
    padding: 10px;
    color: aliceblue;
    text-align: center;
    font-size: 1.2em;
}

.language-selector {
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.language-selector label {
    margin-right: 10px;
}
