html, body {
    height: 100%; /* Faz com que o body ocupe toda a altura da janela */
    margin: 0; /* Remove margens padrão */
}

.wrapper {
    display: flex;
    flex-direction: column; /* Organiza elementos em coluna */
    min-height: 100vh; /* Garante que a div envolvente ocupe pelo menos a altura da janela */
}

main {
    flex: 1; /* Faz com que o main ocupe o espaço disponível */
    padding: 20px; /* Adiciona algum espaçamento ao conteúdo */
}

.menu {
    background-color:#131414;
    padding: 5px;
    position: relative;
}

.menu ul {
    text-align: center;
}

.menu ul li {
    display: inline;
    margin: 0 15px;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu ul li a:hover {
    background-color:black;
    color: #fff;
}

.menu li a.active {
    background-color: black;
    color: #fff;
}

#footer {
    background-color: #131414;
    padding: 10px;
}

#footer p {
    color: aliceblue;
    text-align: center;
}
