html, body {
    height: 100%; /* Faz com que o body ocupe toda a altura da janela */
    margin: 0; /* Remove margens padrão */
    font-family: Arial, sans-serif; /* Define a fonte padrão */
}

.wrapper {
    display: flex;
    flex-direction: column; /* Organiza elementos em coluna */
    min-height: 100vh; /* Garante que a div envolvente ocupe pelo menos a altura da janela */
}

main {
    flex: 1; /* Faz com que o main ocupe o espaço disponível */
    padding: 20px; /* Adiciona algum espaçamento ao conteúdo */
    background-color: #f9f9f9; /* Fundo claro para o conteúdo principal */
}

.menu {
    background-color: #131414;
    padding: 5px;
    position: relative;
}

.menu ul {
    text-align: center;
}

.menu ul li {
    display: inline;
    margin: 0 15px;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu ul li a:hover {
    background-color: black;
    color: #fff;
}

.menu li a.active {
    background-color: black;
    color: #fff;
}

h2 {
    color: #333; /* Cor do título */
    margin-bottom: 15px; /* Espaço abaixo do título */
}

ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove padding padrão da lista */
}

li {
    margin: 10px 0; /* Espaçamento entre os itens da lista */
    font-size: 1.1em; /* Aumenta o tamanho da fonte dos itens */
}

strong {
    color: #0056b3; /* Cor para os nomes dos membros */
}

#footer {
    background-color: #131414; /* Cor de fundo do rodapé */
    padding: 10px; /* Espaçamento interno do rodapé */
    color: aliceblue; /* Cor do texto do rodapé */
    text-align: center; /* Centraliza o texto do rodapé */
    font-size: 0.9em; /* Tamanho da fonte do rodapé */
    margin-top: 20px; /* Espaço acima do rodapé */
}

#footer p {
    color: aliceblue;
    text-align: center;
}
